@use '../../styles/colors' as c;
@use '../../styles/fonts' as f;

.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.4em;
    line-height: 2;

    .userName {
        color: c.$spotifyGreen;
    }

    .search {
        margin-top: 1.4rem;
    }

    .radio {
        accent-color: c.$mixtapeYellow;

        &:hover {
            cursor: pointer;
        }
    }
}
