.App {
  display: grid;
  grid-template-areas:
    "header"
    "searchbar"
    "searchResults"
    "playlist";
  grid-template-rows: repeat(4, auto);
  min-height: 100vh;
  text-align: center;

  .header {
    grid-area: header;
  }

  .searchbar {
    grid-area: searchbar;
  }

  .searchResults {
    grid-area: searchResults;
  }

  .playlist {
    grid-area: playlist;
  }

  .header,
  .searchbar,
  .searchResults,
  .playlist {
    background-color: rgb(22, 22, 22);
    margin: 8px;
    border-radius: 15px;

    @media only screen and (min-width: 1500px) {

      .header,
      .searchbar,
      .searchResults,
      .playlist {
        margin: 10px;
      }
    }
  }

  @media only screen and (orientation: landscape) and (min-width: 950px) and (min-height: 550px) {
    grid-template-areas:
      "header header header"
      "searchbar searchResults playlist";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    max-height: 100vh;
  }
}