* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
  color: white;
  background-color: black;

  @media (min-width: 1500px),
  (orientation: portrait) and (min-width: 390px) {
    font-size: 2rem;
  }
}
